---
import type { ImageMetadata } from "astro";

interface Props {
  src: string;
  alt?: string;
}

type src = string;

const src = Astro.props.src as ImageMetadata[src];
const alt = Astro.props.alt || "Image";
---

<div
  class='w-112.5 h-150 overflow-hidden rounded-3xl flex items-center justify-center'>
  <img src={src} alt={alt} />
</div>
