---
import { Image } from "astro:assets";
import Container from "./Container.astro";
import icons from "../assets/icons.svg";
---

<nav>
  <Container class='h-16'>
    <div class='flex items-center justify-between h-full relative'>
      <div class='h-full flex items-center gap-6'>
        <a href='/academie'>Academie</a>
        <a href='#'>nos centres</a>
      </div>
      <a href='' class='absolute top-2.5 left-1/2 transform -translate-x-1/2'>
        <Image src={icons} alt='Logo' class={"w-15.5"} />
      </a>
      <div class='h-full flex items-center gap-6'>
        <a href='#' class='nav-cta'>Inscriptions</a>
        <a href='#'>Contact</a>
      </div>
    </div>
  </Container>
</nav>

<style>
  nav {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(50px);
    border-bottom: 1px solid white;
  }

  nav a {
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    transition: color 0.2s;
  }

  .nav-brand {
    font-weight: bold;
    font-size: 1.25rem;
  }

  .nav-cta {
    padding: 8px 16px;
    background: black;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    transition: background 0.2s;
  }

  .nav-cta:hover {
    background: #333;
  }
</style>
