---
import Container from "./Container.astro";
---

<section class='quote-section h-[750px]'>
  <Container class='h-full'>
    <div class='h-full w-full flex items-center justify-between'>
      <div class='flex items-center justify-center gap-12 text-right'>
        <div class='w-[40%] flex flex-col gap-6'>
          <h2 class='inter text-6xl font-extrabold'>
            La discipline et la passion sont les vraies clés de la victoire.
          </h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
            ac sem mi. Quisque vehicula lectus eu porttitor sollicitudin.
          </p>
        </div>
        <div class='w-[369px] h-[371px] rounded-3xl overflow-hidden'>
          <img
            src='https://images.unsplash.com/photo-1564564321837-a57b7070ac4f?w=300&q=80'
            alt='Coach'
            class='w-[369px] h-[371px] rounded-3xl object-cover'
          />
        </div>
      </div>
    </div>
  </Container>
</section>
